N8N_AWS/2)Docsync_Extract_data(Quotation).json
{
  "name": "2)Docsync_Extract_data(Quotation)",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "docType": "Communication",
        "documentName": "={{ $json.communication_doc_id }}"
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1328,
        224
      ],
      "id": "ca3350e4-cb90-499d-9c2b-f6190cd23a29",
      "name": "Get a document3",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2080,
        448
      ],
      "id": "2cf0bb2a-81fb-4365-b234-3f1acf64c037",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "vXEkjDoQdItMsfhz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Persona:\nYou are a sophisticated AI agent specializing in ERP automation. You have an expert-level ability to parse unstructured text from business emails and extract structured data with high accuracy.\nObjective:\nYour primary mission is to meticulously analyze Request for Quotation (RFQ) emails and transform them into a structured JSON payload. This payload will be used to automatically create a draft Quotation document in an ERP system.\nInstructions:\nAnalyze all provided data: Scrutinize the email's sender, subject, and body to gather all necessary information.\nIdentify Requester Information: Extract the requesting company's name, the primary contact person, and their email address.\nExtract Key Identifiers: Look for a specific RFQ number or reference ID in the subject or body.\nParse Line Items: Carefully identify every distinct item being requested. For each item:\nSet the item_code to the default value \"Ai Item\".\nExtract the text describing the item. Use this text for both item_name and description. CRITICAL: If the item name is not explicitly clear, you MUST create a valid name based on the context (e.g., \"Unspecified Inquiry\"). item_name cannot be null.\nExtract the quantity. If the quantity is written as a word (e.g., \"five\"), convert it to a number (e.g., 5). CRITICAL: If no quantity is found, you MUST default qty to 1. Do NOT return null.\nIf a Unit of Measure (UoM) is mentioned, use it. If not, default the uom field to \"Nos\".\nDetermine Deadlines: If the email mentions a deadline or a \"required by\" date, extract it.\nLocate Delivery Address: Extract the full delivery or shipping address, typically found in the email signature.\nConstruct the Final JSON: Assemble all extracted information into a single, valid JSON object according to the schema below.\nCritical Constraints:\nJSON Output Only: Your final output must be ONLY the JSON object, with no introductory text, explanations, or markdown formatting.\nIgnore Boilerplate: Exclude common email signatures, confidentiality disclaimers, and quoted text from previous replies (Re:, Fwd:).\nHandle Missing Data: If a piece of information cannot be found, use null as the value, EXCEPT for item_name and qty. These are mandatory fields and must always have a value (use defaults if necessary).\nAdhere to Defaults: Strictly follow the default values for item_code (\"Ai Item\") and uom (\"Nos\") as instructed.\nJSON Output Schema:\ncode\nJSON\n{\n  \"party_name\": null,\n  \"contact_person\": null,\n  \"contact_email\": null,\n  \"rfq_number\": null,\n  \"required_by_date\": null,\n  \"delivery_address\": null,\n  \"items\": [\n    {\n      \"item_code\": \"Ai Item\",\n      \"item_name\": \"Extracted Name or Default\",\n      \"description\": null,\n      \"qty\": 1,\n      \"uom\": \"Nos\"\n    }\n  ]\n}\nData for Analysis:\ncode\nCode\nSender: {{ $json.Sender }}\nSubject: {{ $json.Subject }}\nBody: {{ $json.Body }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2000,
        224
      ],
      "id": "7ed52782-5019-439f-93f7-12947f9d2683",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nnew_items = []\nfor item in items:\n    try:\n        output_string = item['json'].get('output', '{}')\n\n        # Clean and parse the string\n        if \"```json\" in output_string:\n            output_string = output_string.strip().split(\"```json\", 1)[-1].strip()\n            if \"```\" in output_string:\n                output_string = output_string.rsplit(\"```\", 1)[0].strip()\n        \n        if output_string.strip().startswith('{') and not output_string.strip().endswith('}'):\n            output_string += '}'\n            \n        parsed_data = json.loads(output_string)\n        new_items.append({'json': parsed_data})\n\n    except Exception as e:\n        error_data = {\n            \"error\": \"Parser 1 failed\",\n            \"details\": str(e),\n            \"original_output_for_debugging\": item['json'].get('output', 'Not Found')\n        }\n        new_items.append({'json': error_data})\n\nreturn new_items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        224
      ],
      "id": "28b98107-977b-4528-b9ec-b4d591462862",
      "name": "Parser 1 (Python)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10bee030-eb8d-42dc-ae39-d6c5bce464a7",
              "name": "Subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "9c6cbcd5-0a65-4591-a43f-ba5f1a815460",
              "name": "Body",
              "value": "={{ $json.text_content }}{{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1e3a1032-9adf-4e10-a93b-3b32416d02b8",
              "name": "Sender",
              "value": "={{ $json.sender }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        224
      ],
      "id": "517a22d0-fb36-480f-8d70-d990c371f8fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        32
      ],
      "id": "89c52ff4-3eb7-41fe-a0c1-ec9f1d83e9ad",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "docType": "Docsync",
        "properties": {
          "customProperty": [
            {
              "field": "customer_name",
              "value": "={{ $json.party_name }}"
            },
            {
              "field": "table_bwrj",
              "value": "={{ $json.items }}"
            },
            {
              "field": "analyzed_doctype",
              "value": "RFQ"
            },
            {
              "field": "source_communication",
              "value": "={{ $('Edit Fields3').item.json.communication_doc_id }}"
            },
            {
              "field": "series",
              "value": "default"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        2576,
        224
      ],
      "id": "fd555a8c-5174-46f1-889a-15349deb1b5d",
      "name": "Create a document1",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        432,
        224
      ],
      "id": "57873fea-81f0-4686-8234-b344203a377f",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "docType": "Communication",
        "returnAll": true,
        "options": {
          "fields": [
            "*"
          ],
          "filters": {
            "customProperty": [
              {
                "field": "doc_type",
                "value": "RFQ"
              },
              {
                "field": "process_status",
                "value": "Pending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "312f28d6-3310-433e-b702-1bb01096eafc",
      "name": "Get Communication data1",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Communication",
        "documentName": "={{ $('Get a document3').item.json.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "process_status",
              "value": "Processed"
            },
            {
              "field": "creation_doc_id",
              "value": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        2800,
        224
      ],
      "id": "a0827298-5ae4-4cb1-91c5-3bb9331f1a86",
      "name": "Update a document1",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31cfdb74-556d-416f-867d-70fa9b83d339",
              "name": "communication_doc_id",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        224
      ],
      "id": "e207cfd0-b380-4218-95fe-b13e5d8fafe1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        224
      ],
      "id": "ee7ce6ee-f65d-4dba-aaa4-81bdeff61add",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        3024,
        352
      ],
      "id": "10b4d3b0-83c9-4d0d-834e-781c79dd22ba"
    },
    {
      "parameters": {
        "content": "##Create A Quotation\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 672,
        "width": 2896,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -80
      ],
      "typeVersion": 1,
      "id": "3ece4b53-65f1-4c81-8cae-2ef3fa6c5936",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "docType": "Communication",
        "returnAll": true,
        "options": {
          "filters": {
            "customProperty": [
              {
                "field": "doc_type",
                "value": "RFQ"
              },
              {
                "field": "creation_doc_id"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1328,
        32
      ],
      "id": "d3420477-9927-4b87-b40d-c38464054300",
      "name": "Get many documents",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Communication",
        "documentName": "={{ $json.name }}"
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1552,
        32
      ],
      "id": "d9bc58ce-1464-4bf6-b90d-c2d2699ce7f0",
      "name": "Get a document",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Communication",
        "documentName": "={{ $json.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "process_status",
              "value": "Pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        1776,
        32
      ],
      "id": "417e6149-17c0-4def-bdf1-09860e532716",
      "name": "Update a document",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the body from the previous node\nconst bodyHtml = $json.Body || \"\";\n\n// simple regex to strip HTML tags and style content\nlet cleanText = bodyHtml.replace(/<style([\\s\\S]*?)<\\/style>/gi, \"\"); // Remove style blocks\ncleanText = cleanText.replace(/<[^>]*>/g, \"\"); // Remove HTML tags\ncleanText = cleanText.replace(/\\s+/g, \" \").trim(); // Remove excess whitespace\n\n// Update the Body field to be the clean text\nreturn {\n  json: {\n    ...$json,\n    Body: cleanText\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        224
      ],
      "id": "d0377795-b9a4-469f-9789-de9ebbc0f4a0",
      "name": "Clean HTML (Code)"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a document3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parser 1 (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser 1 (Python)": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Clean HTML (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Communication data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Communication data1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Get many documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many documents": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML (Code)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "MeG5uDDzAM3anGG4"
  },
  "versionId": "5204d5b8-9ccc-43d2-acb9-450694085655",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e36802bf58d2051ef2ba3daf7047d922424ebe681ae4034d17d4456bf02c8a"
  },
  "id": "MeG5uDDzAM3anGG4",
  "tags": []
}