N8N_AWS/3)WebHook_Quotes.json
{
  "name": "3)WebHook_Quotes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "401b3baf-0d14-4cc2-835b-d7c0553fe9b0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -32
      ],
      "id": "2ff1e72a-0c43-419b-8d61-19616f9926d6",
      "name": "Webhook",
      "webhookId": "401b3baf-0d14-4cc2-835b-d7c0553fe9b0"
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Docsync",
        "documentName": "={{$json[\"body\"][\"docsync_id\"]}}"
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        -336,
        -32
      ],
      "id": "971b5f94-ef7c-4b8f-834e-33c3c39bf0ed",
      "name": "Get a document",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the output from the previous node (the ERPNext \"Get a document\" node)\nconst docsyncData = items[0].json;\n\n// Prepare a new object for the clean quotation data\nconst quotationData = {};\n\n// 1. Copy the top-level fields you need\nquotationData.customer_name = docsyncData.customer_name;\nquotationData.series = docsyncData.series;\nquotationData.source_name = docsyncData.source_name;\n\n// 2. Process the items table ('table_bwrj')\nquotationData.items = docsyncData.table_bwrj.map(item => {\n  return {\n    item_code: item.item_code,\n    item_name: item.item_name,        // Correct field\n    description: item.item_name,      // If you want description = item_name\n    qty: item.qty,\n    uom: item.uom\n  };\n});\n\n// Return the newly structured data for the next node in the workflow\nreturn [\n  {\n    json: quotationData\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -32
      ],
      "id": "1fdfbff9-47a6-4b8b-9bd7-912984a61bf6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "docType": "Quotation",
        "properties": {
          "customProperty": [
            {
              "field": "customer_name",
              "value": "={{ $json.customer_name }}"
            },
            {
              "field": "items",
              "value": "={{ $json.items }}"
            },
            {
              "field": "naming_series",
              "value": "={{ $json.series }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        112,
        -32
      ],
      "id": "7c0fded4-e426-4b3f-9eef-d9c0c482a9ba",
      "name": "Create a document1",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Docsync",
        "documentName": "={{ $('Get a document').item.json.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "status",
              "value": "Document Created"
            },
            {
              "field": "created_doc_id",
              "value": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        336,
        -32
      ],
      "id": "a50b5bc9-6bad-4e0b-bb76-43da266de59c",
      "name": "Update a document1",
      "credentials": {
        "erpNextApi": {
          "id": "Ap4xMpiohheRFSqL",
          "name": "ERPNext account(Prasanth)"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "13.234.62.39:5678",
            "connection": "keep-alive",
            "content-length": "27",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-type": "application/json",
            "accept": "*/*",
            "origin": "http://13.234.62.39:8080",
            "referer": "http://13.234.62.39:8080/",
            "accept-encoding": "gzip, deflate",
            "accept-language": "en-US,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "docsync_id": "db3d2jat4p"
          },
          "webhookUrl": "http://localhost:5678/webhook/401b3baf-0d14-4cc2-835b-d7c0553fe9b0",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "069b58cc-9207-46e4-a085-5d4dcac68cdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e36802bf58d2051ef2ba3daf7047d922424ebe681ae4034d17d4456bf02c8a"
  },
  "id": "svOJkwBTYyb3WJAF",
  "tags": []
}